#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
.swiper-wrapper {
  align-items: stretch; /* ← makes all slides the same height */
}

.swiper-slide {
  height: auto; /* ← let content dictate height, not a fixed value */
  display: flex;
}
.swiper-pagination-bullet {
}
